@import '../../styles/placeholders.scss';

#root .button {
  margin-bottom: 30px;
  background: linear-gradient(180deg, #FFD451 0%, #FC6B3F 100%);
  background-size: 400% 400%;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.5;
  box-shadow: 0 6px 13px 0 #6502024D;
  animation: gradientPosY 5s linear infinite;
  position: relative;
  z-index: 3;

  @extend %click;

  &:disabled {
    display: none !important;
  }

  &_large {
    width: 80%;
    font-size: 16px;
    padding: 16px 32px;
  }

  &_small {
    width: 90%;
    font-size: 12px;
    padding: 11px 32px;
  }
}
