#root .wrapperQuest {
  height: 100vh;
  background: linear-gradient(90deg, #FF9032 0%, #FC5E39 100%);
  padding: 16px 16px 0;

  &__block {
    width: 100%;
    height: 100%;
    padding: 21px 16px 0;
    background-color: #FC5E39;
    border: 1px solid #F4D070;
    border-radius: 16px 16px 0 0;
    position: relative;
    overflow: auto;
    background-image: url("https://www.technodom.kz/under/lunar-new-year/lunar-bg-common.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    &_leaderboard {
      background-image: url("https://www.technodom.kz/under/lunar-new-year/leaderboard-bg.png");
    }

    &_lg {
      background-image: url("https://www.technodom.kz/under/lunar-new-year/quest-lg-bg.png");
    }

    &_vivo {
      background-image: url("https://www.technodom.kz/under/lunar-new-year/quest-vivo-bg.png");
    }

    &_hotpoint {
      background-image: url("https://www.technodom.kz/under/lunar-new-year/quest-hotpoint-bg.png");
    }
  }

  &__close {
    width: 37px;
    height: 37px;
    background-image: url("https://www.technodom.kz/under/lunar-new-year/button-close.svg");
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 12px;
    right: 13px;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 11px;

    margin-top: 14px;
  }

  &__button-next {
    width: 100%!important;
  }
}
