#root .startScene {
  height: 100vh;
  background-image: url("https://www.technodom.kz/under/lunar-new-year/lunar-main.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
