#root .memory-game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__top-content {
    //height: 100%;
  }

  &__wrapper {
    max-width: 500px;
    aspect-ratio: 1;
    margin: 32px auto 0;
    //display: flex;
    //flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    perspective: 1000px;
  }

  &__description {
    width: 100%;
    aspect-ratio: 3.7 / 1;
    background-image: url("https://www.technodom.kz/under/lunar-new-year/lunar-table-78.png");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #FC5E39;

    margin-bottom: 40px;
  }

  &__title {
    color: #464C53;
    font-size: 14px;
    font-weight: 700;
    line-height: 130%;

    max-width: 248px;
    text-align: center;
    margin: 0 auto 0;
  }

  .memory-card {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;

    &_complete {
      .front-face {
        //  2px solid #FC6B3F;
      }
    }

    //box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }

  .memory-card:active {
    transform: scale(0.97);
    transition: transform .5s;
  }

  .memory-card.flip {
    transform: rotateY(180deg);
  }

  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    //padding: 20px;
    position: absolute;
    border-radius: 4px;
    backface-visibility: hidden;
  }

  .front-face {
    transform: rotateY(180deg);
    //border: 2px solid #CBCBCB;

    transition: border 0.3s ease-in-out;
  }

  &__next-btn {
    width: 100%;
    border-radius: 12px;
    background-color: #2196F3;
    padding: 15px 0 16px;

    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.32px;
    transition: all 0.03s ease-in-out;
    box-shadow: 0 7px 14px 0 #6FB5EC;

    cursor: pointer;

    margin-top: 12px;

    &:disabled {
      background-color: #C0C5C9;
      box-shadow: none;
    }

    &:active {
      background-color: #237fc7;
      outline: 2px #237fc7 solid;
    }
  }

}
