@use '../../../../../../styles/placeholders.scss';

#root .buttonBrand {
  @extend %click;

  box-shadow: -3px 4px 9px 0 rgba(109, 1, 1, 0.4);
  transform: translateY(30%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
